<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="config.mybatis.ContentMapper">
  <select id="selectContentById" resultType="Content">
    select * from Content where id = #{id}
  </select>
  <insert id="addContent" parameterType="Content">
  insert into Content(title,description,image_url,url,content,type,state,user)
  values(#{title},#{desc},#{image_url},#{url},#{content},#{type},#{state},#{user});
  </insert>
  <delete id="deleteContentById">
  	delete from Content where id = #{id}
  </delete>
  <update id="updateContentById" parameterType="Content">
  update Content set title=#{title},description = #{desc},image_url = #{image_url},url = #{url},content=#{content},type=#{type},state=#{state},user=#{user}
  where id=#{id};
  </update>
</mapper>